@import "./simple.scss";
@import "common";
@import "variables1";
@import "variables2";

.color1 {
  color: $color1;
}

.color2 {
  color: $color2;
}

.favourite-color {
  color: $myFavouriteColor;
}

.red {
  color: $color-red;
}

.green {
  color: $color-green;
}

.blue {
  color: $color-blue;
}

.image-url {
  background-image: image-url('../myImage.png');
}